/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/12/2014, 01:07:10 AM
    Author     : Martha
*/
body{
    background: #bcaaa4;
}
.imagencatego
{
    display: block;
    height: 100px;
    width: 100px;
}


#cab{
    background: #8d6e63;
     width: 400px;
   
     padding:5px;
     
}


table, tr, td , th{
        border: 1px solid black;
        width: 400px;
}
#ta{
    background: #a1887f;
}

img{
    width:100px;
    height:100px
        
}
